/* About.module.css */
.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.teamMembersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.teamMember {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

.teamMember img {
  max-width: 50px;
  border-radius: 50px;
}

.teamMember h3 {
  margin: 10px 0;
}

.twitterLink {
  text-decoration: none;
  color: #0077B5; /* Twitter blue color */
  display: flex;
  align-items: center;
}

.twitterIcon {
  max-width: 20px; /* Adjust the size as needed */
  margin-right: 5px;
}
